@import "tailwindcss";

/* Tailwind Theme Customization - https://tailwindcss.com/docs/theme */
@theme inline {
  /* Fonts */
  --font-montserrat: var(--font-montserrat);
  --font-nunito: var(--font-nunito);

  /* Colors */
  --color-background: rgb(250, 248, 248);
  --color-background-muted: rgb(249, 248, 254);
  --color-foreground: rgb(8, 5, 28);
  --color-foreground-muted: rgb(58, 56, 75);
  --color-primary: rgb(244, 238, 34);
  --color-primary-foreground: rgb(8, 5, 28);
  --color-primary-muted: rgb(252, 251, 200);
  --color-primary-muted-foreground: rgb(8, 5, 28);
  --color-secondary: rgb(38, 26, 145);
  --color-secondary-foreground: rgb(255, 255, 255);
  --color-secondary-muted: rgb(214, 216, 240);
  --color-secondary-muted-foreground: rgb(8, 5, 28);
  --color-card: rgb(255, 255, 255);
  --color-border: rgb(228, 228, 233);
  --color-surface: rgb(247, 247, 248);
  --color-navbar: rgb(15, 10, 58);
  --color-test: red;

  /* Animations */
  --animate-fade-down: fade-down 0.8s ease-out both;
  --animate-fade-in: fade-in 0.3s ease-out both;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-nunito bg-background text-foreground antialiased;
  }

  label {
    @apply text-foreground mb-1 block text-sm font-medium;
  }

  input,
  select {
    @apply bg-background text-foreground font-medium placeholder-foreground-muted focus:ring-secondary w-full rounded-lg border px-3 py-2 transition-all focus:border-transparent focus:ring-2 focus:outline-none;
  }

  input.error,
  select.error {
    @apply ring-1 ring-red-500;
  }

  .customer-card {
    @apply bg-surface hover:bg-secondary-muted/50 focus:bg-secondary-muted/50 focus:ring-secondary-muted flex w-full cursor-pointer items-center gap-4 rounded-lg p-4 transition-all focus:ring-2;
  }

  .as-button {
    @apply bg-primary text-primary-foreground hover:bg-primary-muted hover:text-primary-muted-foreground transition-all duration-300 font-montserrat text-base font-semibold text-nowrap cursor-pointer flex items-center gap-2 rounded-full px-8 py-4 text-center justify-center leading-tight;
  }

  a {
    @apply transition-all duration-300 font-montserrat text-base font-semibold text-nowrap cursor-pointer flex items-center gap-2 text-secondary hover:text-secondary-muted-foreground;
  }
}

@keyframes fade-down {
  from {
    opacity: 0;
    transform: translateY(-2rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}